body{
    font-family: 'Open Sans', sans-serif;
}
.ui-loader{
    display: none;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 300px;
    height: 100%;
    color: #fff;
    background: #1BA39C;
}

#page-content-wrapper {
    position: absolute;
    left: 300px;
    right: 0px;
}

.sidebar-nav {
    position: relative;
    top: 90px;
    width: 300px;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.5);
}
.logo{
    position: relative;
    margin-top: 25px;
    width: 300px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 26pt;
}
.bold{
    font-weight: 900;
}
.userdata{
    position: relative;
    margin-top: 50px;
    width: 300px;
}
.profil_pic{
    position: relative;
    left: 90px;
    width: 120px;
    height: 120px;
}
.user_name{
    position: relative;
    top: 20px;
    width: 300px;
    text-align: center;
    font-size: 14px;
}
.glyphicon-home, .glyphicon-file, .glyphicon-send, .glyphicon-cog{
    margin-right: 50px;
}
.navbar{
    display: none;
    padding-top: 10px;
    background-color: #1BA39C;
    color: #FFF;
}
.navbar .nav li a{
    color: #FFF;
}
.nav {
    display: none;
    margin-left: 17.5px;
}
.row{
    margin: 0px;
}

.subtitle{
    width: 100%;
    padding: 32.5px 20% 0px 30px;
    background-color: #FFF;
}
.switch{
    width: 100%;
    padding: 40px 30px 0px 30px;
    background-color: #FFF;
}
#page-content-wrapper .list-inline li a{
    color: #4d4d4d;
    padding: 2.5px 0px;
    border-radius: 0px;
}
#page-content-wrapper .list-inline li a:hover{
    border-bottom: 1px solid #02658c;
}
#page-content-wrapper .list-inline > li:first-child > a{
    border-bottom: 1px solid #02658c;
}
.list-styled li{
    list-style-type: none;
    margin-left: -10px;
}
.list-styled li a{    
    color: #4d4d4d;
    padding: 2.5px 0px;
    border-radius: 0px;
}
.list-styled li:first-child a{    
    border-bottom: 1px solid #02658c;   
}
.list-styled li a:hover{
    border-bottom: 1px solid #02658c;
}

.overview{
    width: 100%;
    height: 100%;
    padding: 48px 20px;
    background-color: #EDF3F4;
}

#latest_issued{
    display: none;
}
#download{
    display: none;
}

.fachbox{
    height: 300px;
    text-align: center;
    margin-bottom: 25px;
    border:1px solid #aaa;
    border-radius:15px;
    background-color: #FFF;
}

.classname{
    font-weight: bold;
    position: relative;
    top:25px;
    font-family: Montserrat;
    font-size:18px;
}

.classrow{
    position: relative;
    top:20px;
    width:75%;
    height:1px;
    color:#ccc;
    background-color: #ccc;
}

.badgecount{
    position: relative;
    top: 10px;
    font-family:Montserrat;
    font-size:72px;
    font-weight:bold;
    color:#4eb96e;
}

.badgegot{
    position: relative;
    top: 10px;
    font-family:Montserrat;
    font-size:16px;
    font-weight:bold;
}

.showbtn{
    position: relative;
    font-family: Open Sans;
    top: 40px;
    width:150px;
    height:36px;
    border-radius:10px;
    color: #4eb96e;
    border:1px solid #4eb96e;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.showbtn:hover{
    color:#74d600;
    border-color: #74d600;
    background-color:white;
}

.panel-default{
    box-shadow: none;
    padding: 10px 0px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
.panel-default:hover{
    transform: scale(1.1);
}

h1{
    font-size: 26px;
    margin-top: 0px;
}

#div_badge_erstellen{
    position: relative;
    width: 100%;
    padding: 40px 30px;
    display: none;
}
#ta_badge_name{
    float: left;
    width: 300px;
    max-height: 27px;
    padding: 0px;
    margin-bottom: 30px;
    margin-right: 250px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #1BA39C;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    resize: none;
}
.dropdown{
    float: left;
    margin-top: 3px;
}
#dropdown_Fach{
    border: 1px solid #1BA39C;
}
#div_description{
    float: left;
    width: 350px;
    margin-top: 30px;
    margin-right: 200px;
}
#div_requirement{
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 350px;
}
#ta_description{
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    resize: none;
    border: 1px solid #1BA39C;
}
#ta_requirement{
    min-height: 100px;
    max-height: 100px;
    width: 100%;
    resize: none;
    border: 1px solid #1BA39C;
}
.badge_choice{
    margin-top: 30px;
    width: 100%;
    min-height: 300px;   
    background-color: #EDF3F4;
}
.badge_template{
    float: left;
    width: 60%;
    min-height: 300px;
    padding: 15px 5px;
    border-right: 1px solid #1BA39C;
}
.badge_selected{
    float: left;
    width: 40%;
    padding: 15px 5px;
    margin-top: 50px;
}
#btn_next_create_badge{
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #1BA39C;
    color: #FFF;
}
@media(max-width:992px) {
    .badge_template{
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid #1BA39C;
    }
    .badge_selected{
        width: 100%;
        margin-top: 25px;
    }
}

@media(max-width:798px) {
    .navbar{
        display: inline;
    }
    #sidebar-wrapper {
        display: none;
    }
    #menu-toggle{
        margin-top: -15px;
        margin-left: 20px;
        color: #FFF;
        border: 1px solid #FFF;
    }
    #menu-toggle:hover{
        background-color: rgba(255,255,255,0.2);
    }
    .logo{
        width: 100%;
        padding: 0px;
        margin-top: 0px;
    }
    .glyphicon-home, .glyphicon-file, .glyphicon-send, .glyphicon-cog{
        margin-right: 20px;
    }
    #page-content-wrapper {
        left: 0px;
        top: 50px;
    }
    h1{
        font-size: 20px;
    }
    #div_badge_erstellen{
        padding-top: 20px;
    }
    #ta_badge_name{
        max-height: 35px;
        width: 250px;
    }
    #ta_badge_name{
        font-size: 12px;
        max-height: 20px;   
        margin-right: 0px;
    }
    .dropdown{
        margin-left: 50px;
        margin-top: -5px;
    }
    #wrapper.toggled .nav {
        display: block;
    }
    #div_description{
       width: 250px;
       margin-right: 50px;
    }
    #div_requirement{
       width: 250px;
    }
    #ta_description{
        min-height: 50px;
        max-height: 50px;
    }
    #ta_requirement{
        min-height: 50px;
        max-height: 50px;
    }
}