body{
    font-family: 'Open Sans', sans-serif;

}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 300px;
    height: 100%;
    color: #fff;
    background: #1BA39C;
}

#page-content-wrapper {
    position: absolute;
    left: 300px;
    right: 0px;
}

.sidebar-nav {
    position: relative;
    top: 100px;
    width: 300px;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 60px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.5);
}
.logo{
    position: relative;
    margin-top: 25px;
    width: 300px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 26pt;
}
.bold{
    font-weight: 900;
}
.userdata{
    position: relative;
    margin-top: 50px;
    width: 300px;
}
.profil_pic{
    position: relative;
    left: 90px;
    width: 120px;
    height: 120px;
}
.user_name{
    position: relative;
    top: 20px;
    width: 300px;
    text-align: center;
    font-size: 14px;
}

.glyphicon-home, .glyphicon-file, .glyphicon-send, .glyphicon-cog{
        margin-right: 50px;
}
.row{
    margin: 0px;
}

.subtitle{
    max-width: 900px;
    padding: 32.5px 30px 1px 30px;
}

.switch{
    width: 100%;
    padding: 50px 30px 0px 30px;
    background-color: #FFF;
}
.list-inline > li > a{
    color: #4d4d4d;
    padding: 2.5px 0px;
}

.list-inline > li > a:hover{
    border-bottom: 1px solid #02658c;
    border-radius: 0px;
}

.overview{
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background-color: #EDF3F4;
}

.panel-default{
    box-shadow: none;
    padding: 10px 0px;
}

h1{
    margin-top: 0px;
}

@media(max-width:990px) {
    #sidebar-wrapper {
        width: 200px;
    }
    .logo{
        font-size: 22px;
        width: 200px;
    }
    .userdata{
        margin-top: 25px;
        width: 200px
    }
    .profil_pic{
        left: 40px;
    }
    .user_name{
        width: 200px;
        font-size: 12px; 
    }
    .sidebar-nav{
        top: 40px;
        width: 200px;
    }
    .sidebar-nav li {
    	text-indent: 8px;
    	line-height: 2px;
    }
    .sidebar-nav li a {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
    }

    .glyphicon-home, .glyphicon-file, .glyphicon-send, .glyphicon-cog{
        margin-right: 25px;
}

    #page-content-wrapper {
        left: 200px;
    }
}