/* ----- COLORS ----- */
/* -- COLORS ENDE -- */
/* ----- ALLGEMEINES ----- */
* {
  box-sizing: border-box; }

body {
  padding: 10px;
  padding-top: 100px;
  background-color: #f6f7f7; }

/* -- ALLGEMEINES ENDE */
/* ----- BUTTONS -----*/
.eb-btn {
  color: #4eb96e;
  border-radius: 10px;
  border: 1px solid #4eb96e;
  background-color: white;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.eb-btn:hover {
  color: #74d600;
  border-color: #96ee8c; }

.eb-signout {
  position: relative;
  top: 10px; }

.eb-showbtn {
  position: relative;
  bottom: -55px;
  width: 150px; }

.eb-backbtn {
  position: relative;
  border-radius: 50px;
  margin-right: 5px;
  border: 0px;
  width: 40px;
  height: 40px;
  background-image: url(backbtn.svg);
  opacity: 0.7;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.eb-backbtn:hover {
  opacity: 1; }

.eb-sort {
  margin-left: 10px;
  width: 30pt;
  height: 30pt;
  border-radius: 50px;
  border: 0px solid black;
  font-size: 20px;
  background-color: #dddddd; }

@media (max-width: 767px) {
  .eb-signout {
    top: 0px; } }
/* -- BUTTONS ENDE -- */
/* ----- NAVBAR ----- */
.eb-nav {
  padding-top: 13px;
  padding-bottom: 3px;
  background-color: #96ee8c; }

.eb-navcollapse {
  text-align: center; }

@media (max-width: 767px) {
  .eb-nav {
    padding-bottom: 12px; }

  .nav {
    overflow: hidden; } }
.eb-logo {
  position: relative;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  color: black; }

.eb-logo > b {
  font-weight: 900; }

/* -- NAVBAR ENDE -- */
/* ----- BOXEN -----*/
.eb-box {
  height: 330px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 15px;
  background-color: white; }

.eb-box > .eb-row {
  position: relative;
  top: 35px;
  width: 75%;
  height: 1px;
  color: #cccccc;
  background-color: #cccccc; }

.eb-singlebadge {
  text-align: center; }

/* -- BOXEN ENDE -- */
/* ----- LABELS ----- */
.eb-lbl {
  font-family: Montserrat;
  font-size: 16px; }

.eb-boxheader {
  position: relative;
  top: 25px;
  font-weight: bold;
  font-size: 16px; }

.eb-boxsubtitle {
  position: relative;
  top: 28px;
  font-family: Open Sans; }

.eb-boxcontent {
  position: relative;
  top: 20px;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: bold;
  color: #4eb96e; }

.eb-boxsubcontent {
  position: relative;
  font-weight: bold;
  top: 20px; }

.eb-badgetitle {
  font-weight: bold; }

.eb-badgedetail {
  padding-left: 30%; }

.eb-badgedetail > .eb-badgetitle {
  font-size: 54px;
  color: #4eb86d; }

.eb-badgedetail > .eb-subject {
  font-family: Open Sans;
  color: #888; }

/* --LABELS ENDE ----- */
/* ----- IMAGES ----- */
.eb-distance {
  margin-bottom: 15px; }

.eb-badgeimg {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.eb-badgeimg:hover {
  transform: scale(1.15); }

.eb-image {
  margin: auto;
  margin-top: 330px; }

/* -- IMAGES ENDE -- */

/*# sourceMappingURL=style_new.css.map */
