body{
	background-color:#f6f7f7;
}

.logo{
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	font-family: Montserrat;
	font-size:30px;
	font-weight:400;
}

.logo > b{
	font-weight:900;

}

.name{
	position:relative;
	text-align: center;
	top:30px;
	margin-right:25px;
}
.icon_small{
	margin-right:20px;
	border:1px solid #4eb96e;
}

.abmelden{
	position:relative;
	top:27px;
	border-radius:10px;
	color: #4eb96e;
	border:1px solid #4eb96e;
	margin-right:15px;
}

.head_row{
	top:10px;
	height:2px;
}

.row_green{
	color:green;
	background-color: green;
}

.collapsed{
	top:15px;
}

.main{
	position: absolute;
	background-color:#f6f7f7;
	top:86px;
	bottom:0px;
	width:100%;
}

.navbar1{
	background-color: white;
	border:0px;
	border-bottom: 2px solid green;
}


.fachbox{
	height:250pt;
	text-align: center;
	border:1px solid #aaa;
	border-radius:15px;
}

.classname{
	font-weight: bold;
	position: relative;
	top:25px;
	font-family: Montserrat;
	font-size:18px;
}

.teachername{
	position: relative;
	font-size:16px;
	top:28px;
	font-family: Open Sans;
}

.classrow{
	position: relative;
	margin-top:55px;
	width:75%;
	height:1px;
	color:#ccc;
	background-color: #ccc;
}

.badgecount{
	position: relative;
	top:-10px;
	font-family:Montserrat;
	font-size:72px;
	font-weight:bold;
	color:#4eb96e;
}

.badgegot{
	position: relative;
	top:-10px;
	font-family:Montserrat;
	font-size:16px;
	font-weight:bold;
}

.showbtn{
	position: relative;
	font-family: Open Sans;
	top: 20px;
	width:150px;
	height:36px;
	border-radius:10px;
	color: #4eb96e;
	border:1px solid #4eb96e;
}

.subjects{
	position: relative;
	font-family:Montserrat;
	font-size:28px;
	font-weight: bold;
	margin-left:10%;
}

.row_grey{
	width:90%;
	color:#ccc;
	background-color: #ccc;
}

.fachbox{
	margin-bottom: 30px;
	background-color:white;
	margin-left:6.5%;
}


@media (max-width: 1580px) and (min-width: 980px) {
	.fachbox{
		width:26%;
	}	
}

@media (max-width: 420px){
	.row_grey{
		visibility: hidden;
	}
	.classname{
		font-size:14px;
	}
	.teachername{
		font-size:14px;
	}
}

.sort_btns{
	float:right;
	margin-right:10%;
}

.sort1, .sort2{
	margin-left:10px;
	border-radius: 50px;
	border:0px solid black;
	background-color:#ddd;
	font-size:20px;
	width:30pt;
	height:30pt;
}

.btn_back1{
	position: relative;
	border-radius: 50px;
	margin-right:5px;
	bottom:8px;
	border:0px;
	width:40px;
	height:40px;
	background-image: url(backbtn.svg);
	display:none;
}

.fachansicht{
	display:none;
	margin-left:10%;
	margin-right:10%;
}